:root {
	--primary-color--: #cd0001;
	--second-color--: #382c1e;
	--third-color--: #e6d690;
}

* {
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-family: cursive;
}


.header-main {
	background-image: url(../img/img-main/main-header.jpg);
	background-size: cover;
	height: 290px;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;

	background-color: #e9ecef;
}

.button-menu-main {
	background: var(--primary-color--);
	color: #fff;
	border: none;
	position: relative;
	height: 42px;
	font-size: 1.12em;
	padding: 0 0.6em;
	cursor: pointer;
	transition: 800ms ease all;
	outline: none;
	margin-top: 20px;
	animation: none;
}

.button-menu-main:hover {
	background: #fff;
	color: var(--primary-color--);
}

.button-menu-main:before,
.button-menu-main:after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	height: 2px;
	width: 0;
	background: var(--primary-color--);
	transition: 400ms ease all;
}

.button-menu-main:after {
	right: inherit;
	top: inherit;
	left: 0;
	bottom: 0;
}

.button-menu-main:hover:before,
.button-menu-main:hover:after {
	width: 100%;
	transition: 800ms ease all;
}

.cont-icon-whatsapp {
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 5;
	bottom: 40px;
	right: 40px;
	position: fixed;
	background-color: #25d666;
	width: 60px;
	height: 60px;
	border-radius: 200px;
	cursor: pointer;
	overflow: hidden;
	transition: width 1s ease;
}

.cont-icon-whatsapp:hover {
	filter: brightness(1.1);
	width: 180px;
}

.cont-icon-whatsapp svg {
	width: 30px;
}

.sub-cont-whatsapp a{
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 5px 10px;
}

.cont-icon-whatsapp h6 {
	width: 100%;
	font-size: 20px;
	display: none;
	transition: display 1s ease;
	padding-left: 10px;
	color: #000;
	margin-right: 10px;
}

.cont-icon-whatsapp:hover h6 {
	display: block;
}

.icon-whatsapp {
	height: 40px;
	width: 40px;
	background-color: #25d666;
}



@media (max-width: 490px) {
	.chatbot {
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		border-radius: 0;
	}
	.chatbot .chatbox {
		height: 90%;
	}
	.chatbot header span {
		display: block;
	}
}
